@import "tailwindcss";

:root {
  --bg-main: #ffffff;
  --bg-sidebar: #f8fafc;
  --text-main: #1e293b;
  --accent: #3b82f6;
  --font-main: 'Inter', sans-serif;
}

[data-theme='cyber'] {
  --bg-main: #000000;
  --bg-sidebar: #050505;
  --text-main: #00ff41;
  --accent: #00ff41;
  --font-main: 'Fira Code', monospace;
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: var(--font-main);
  transition: all 0.3s ease-in-out;
}